<div class="container-fluid container-fluid-custom">
    <h1>Sobre</h1>
    <main class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <h2>Grátis e Fácil de Usar</h2>
            <p>Nosso site oferece uma plataforma gratuita e fácil de usar para você criar, editar e organizar suas notas em qualquer lugar e a qualquer momento.</p>
          </div>
          <div class="col-md-4">
            <h2>Segurança em Primeiro Lugar</h2>
            <p>Valorizamos sua privacidade e segurança. Suas notas são protegidas por criptografia avançada e só você tem acesso a elas.</p>
          </div>
          <div class="col-md-4">
            <h2>Acesse de Qualquer Dispositivo</h2>
            <p>Com nosso design responsivo, você pode acessar suas notas de qualquer dispositivo - seja no desktop, tablet ou smartphone.</p>
          </div>
        </div>
      </main>
</div>