<section class="container-fluid my-5">
    <div class="row">
      <div class="col-md-6">
        <img src="/img/human-3.svg" class="img-fluid" alt="Screenshot do site de notas">
      </div>
      <div class="col-md-6">
        <h2>Recursos Incríveis</h2>
        <ul class="list-unstyled feature-list">
          <li><i class="fas fa-check"></i> Editor de texto rico</li>
          <li><i class="fas fa-check"></i> Organização por tags e categorias</li>
          <li><i class="fas fa-check"></i> Sincronização automática</li>
          <li><i class="fas fa-check"></i> Compartilhamento fácil com amigos</li>
          <li><i class="fas fa-check"></i> Pesquisa avançada</li>
        </ul>
        <a href="/auth/google" class="btn btn-primary btn-lg mt-3">Comece Agora</a>
      </div>
    </div>
  </section>
