<div class="container-fluid container-fluid-custom py-md mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    Organize Seus Pensamentos
                </h1>
                <p class="fs-4 mb-4">
                    Aqui você pode escrever, organizar e revisar todas as suas anotações em um só lugar. Mantenha suas ideias sempre ao seu alcance.
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">
                    Testar Agora
                </a>
            </div>
        </div>
    </main>

</div>